<html>

<head>
    <style>

    </style>
</head>

<body>
    <p>Olá, {{name}}!</p>
    <p>Suas credenciais para acessar o sistema são: </p>
    <br>
    <p>E-mail: {{email}}</p>
    <p>Senha: {{password}}</p>
</body>

</html>